version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Kart
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    build: .
    container_name: arenakart-app
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      Url: jdbc:mysql://mysql:3306/Kart?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      Root: root
      Password: root

volumes:
  mysql-data:
