version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: Kart
    ports:
      - "3306:3306"

  app:
    build: .
    container_name: arenakart-app
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      Url: jdbc:mysql://mysql:3306/Kart?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      Root: root
      Password: 12345
